<section id="gallery">
    <div class="gallery-header">
        <h2>Gallery</h2>
        <p>Some photos from our events.</p>
    </div>
    <div class="gallery-images">
        <img src="assets/img/gallery/gallery-1.jpg" class="gallery-1" alt="Event Image 1">
        <img src="assets/img/gallery/gallery-2.jpg" class="gallery-2" alt="Event Image 2">
        <img src="assets/img/gallery/gallery-3.jpg" class="gallery-3" alt="Event Image 3">
        <img src="assets/img/gallery/gallery-4.jpg" class="gallery-4" alt="Event Image 4">
        <img src="assets/img/gallery/gallery-5.jpg" class="gallery-5" alt="Event Image 5">
    </div>
</section>
