<div class="container">
    <section id="services">
        <div class="services-header"> <!-- Dodano za ispravnu primjenu CSS-a -->
            <h2>What We Do</h2>
            <p>Provide the Best Event Management Services</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card mt-4">
                    <img src="assets/img/gallery/event-wedding.jpg" alt="services" />
                    <div class="card-body">
                        <h5 class="card-title">Wedding Planning</h5>
                        <p class="card-text">We plan and execute your dream wedding.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card mt-4">
                    <img src="assets/img/gallery/corporate.jpg" alt="services" />
                    <div class="card-body">
                        <h5 class="card-title">Corporate Event</h5>
                        <p class="card-text">Professional event planning for businesses.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card mt-4">
                    <img src="assets/img/gallery/event-birthday.jpg" alt="services" />
                    <div class="card-body">
                        <h5 class="card-title">Private Occasions</h5>
                        <p class="card-text">Celebrate birthdays, anniversaries, and more.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
